@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.first-section{
    background-color: #1F2937;
}

#Header-Logo{
    font-size: 24px;
    color: #F9FAF8;
}

.Header-link{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#Content-Heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.content{
    display: flex;
    flex-direction: row;   
}

.content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;fourth-section
    justify-content: center;
    margin-left: 300px;
    
}

.Img-first-section{
    margin: 50px;
    width: 200px;
    height: 200px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
}

.Sign-up{
    color: #E5E7EB;
    background-color: #3882F6;
    width: 90px;
    height: 25px;
    border: 10px #3882F6;
    border-radius: 5px; 
}

.Sign-up:hover{
    cursor: pointer;
    background-color: lightblue;
}

.second-section{
    height: 400px;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-of-boxes{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.boxes-pictures{
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.secondp{
    text-align: center;
    font-size: 18px;
}

.third-section{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.third-p{
    text-align: end;
}

#quote{
    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
}

.fourth-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882F6;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    color: #E5E7EB;
    font-size: 30px;
}

.lastp{
    color: #E5E7EB;
}

.last-sign-up{
    color: #E5E7EB;
    background-color: #3882F6;
    width: 100px;
    height: 40px;
    border: 3px #E5E7EB solid;
    border-radius: 10px solid; 
}

.last-sign-up:hover{
    color: #E5E7EB;
    background-color: lightblue;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: 3px #E5E7EB solid;
    border-radius: 10px solid; 
}

.right{
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer{
    display: flex;
    color: #E5E7EB;
    height: 50px;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

